<style>
  :host {
    font-family: 'Montserrat', sans-serif;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }

  .spacer {
    flex: 1;
  }

  .toolbar {
    top: 0;
    left: 0;
    right: 0;
    height: 120px;
    display: flex;
    align-items: center;
    background-color: #24AFC1;
    font-weight: 600;
  }

  .logo {
    margin: 0 16px;
    filter: invert(100%);
    transform: rotateY(180deg);
  }
  .logo:hover, .insta:hover {
    cursor: pointer;
    filter: invert(100%) opacity(.75);
  }

  .insta {
    margin: 0 16px;
    filter: invert(100%);
  }

  span {
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    color: #F0F0F0;
  }

  .content {
    display: flex;
    padding: 0 16px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  a,
  a:visited,
  a:hover {
    color: #1976d2;
    text-decoration: none;
  }

  a:hover {
    color: #125699;
  }

  @media screen and (max-width: 620px) {
    span {
      font-size: 28px;
    }
    .logo {
      width: 60px;
    }
    .insta {
      width: 45px;
    }
  }
</style>

<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img class="logo"
    width="100"
    src="../assets/logo.png"
    alt="Logo"
    onclick="location.href=''"
  />
  <span>Ahorcado - El juego</span>
  <div class="spacer"></div>
  <a href="https://instagram.com/fabian_jh11" target="_blank">
    <img class="insta" width="60" src="../assets/insta.png" alt="Instagram"/>
  </a>
</div>
<div class="content" role="main">
  <app-hangman></app-hangman>
</div>